.v-header {
	position: sticky;
	top: 0;
	background-color: var(--white);
	z-index: 2;
	padding: 0 0 0.85rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 2px;
}
.v-header .v-header-logo .v-image {
	max-width: 4rem;
}
.v-header .v-nav-links-wrapper {
	column-gap: 1.5rem;
}
.v-header .v-nav-links-wrapper .v-nav-link {
	font-size: 1.05rem;
	color: rgba(var(--dark-variant), 0.9);
	position: relative;
}
.v-header .v-nav-links-wrapper .v-nav-link::before {
	content: "";
	width: 100%;
	height: 1.5px;
	transition: transform 300ms ease-in-out;
	transform-origin: right;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0) translateY(1.5px);
	opacity: 0.7;
	background-color: var(--primary-clr);
}
.v-header .v-nav-links-wrapper .v-nav-link:hover::before {
	transform-origin: left;
	opacity: 1;
	transform: scaleX(1) translateY(1.5px);
}
.v-mouse-ele {
	position: fixed;
	background-color: var(--primary-clr);
	content: "";
	width: 15px;
	aspect-ratio: 1;
	border-radius: 50%;
	display: block;
	height: 15px;
	transition: 50ms ease;
	mix-blend-mode: difference;
	transform: translate(var(--x, 0), var(--y, 0));
	opacity: 0;
	z-index: 99;
}
.v-mouse-ele.active {
	opacity: 1;
}
.v-header .v-subheader {
	background-color: var(--primary-clr);
	padding: 3px;
	position: relative;
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 300ms ease-in-out;
}
.v-header .v-subheader.active {
	grid-template-rows: 1fr;
}
.v-header .v-subheader .v-toggle-lg-screen-auth-dropdown {
	position: absolute;
	top: 0;
	right: 3.8%;
	transition: 300ms ease-in-out;
	transform: translate(0);
}
.v-header .v-subheader .v-toggle-lg-screen-auth-dropdown .v-toggler {
	--r: 50%;
	--pad: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	background-color: var(--primary-clr);
	padding: 14px calc(var(--pad) + 2px) var(--pad) calc(var(--pad) + 2px);
	border-radius: 0 0 var(--r) var(--r);
	transition: 300ms ease-in-out;
}
.v-header .v-subheader.active .v-toggle-lg-screen-auth-dropdown {
	transform: translate(0, calc(100% + 1.8rem));
}
.v-header .v-subheader.active .v-toggle-lg-screen-auth-dropdown .v-toggler {
	--r: 50%;
	border-radius: var(--r);
	padding: var(--pad);
}
.v-header .v-subheader:not(.active) .v-toggle-lg-screen-auth-dropdown .v-toggler:hover {
	--new-r: calc(var(--r) - 4%);
	padding-top: calc(var(--pad) + 20px);
	padding-bottom: calc(var(--pad) + 2px);
	border-end-end-radius: var(--new-r);
	border-end-start-radius: var(--new-r);
}
.v-header .v-subheader .v-subheader-link {
	display: flex;
	align-items: center;
	column-gap: 8px;
	padding: 6px 0;
	color: var(--white);
	text-decoration: 1.5px underline transparent;
	text-underline-offset: 4px;
	transition: 300ms ease-in-out;
}
.v-header .v-subheader .v-subheader-link:hover {
	text-decoration-color: rgba(var(--white-variant), 0.9);
	text-underline-offset: 1.5px;
}
.v-header .v-subheader .v-subheader-link svg {
	--size: 1.2rem;
}
