/* min widths */
@media all and (min-width: 400px) {
}

@media all and (min-width: 420px) {
}

@media all and (min-width: 464px) {
}

@media all and (min-width: 476px) {
}

@media all and (min-width: 500px) {
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 800px) {
}

@media all and (min-width: 991px) {
	.v-text-content .v-hero-title {
		font-size: 3.5rem;
	}
}

@media all and (min-width: 1024px) {
}

@media all and (min-width: 1200px) {
	.v-sticky-aside {
		position: -webkit-sticky;
		position: sticky;
		top: 5.5rem;
	}
	.v-others .v-list-container {
		flex-direction: column;
	}
	.v-list-container .v-item {
		flex-direction: row;
	}
	.v-list-container .v-item .v-image {
		--size: 80px;
	}
	.v-list-container .v-item .v-text {
		--clamp-size: 2;
		text-wrap: balance;
	}
	.v-blog-page-content .v-blog-details {
		position: sticky;
		top: 5.5rem;
	}
	.v-blog-page-content .v-blog-details .v-detail {
		border-top: 2px solid var(--primary-clr);
	}
}

/* max widths */
@media all and (max-width: 1200px) {
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 650px) {
}

@media all and (max-width: 500px) {
}

@media all and (max-width: 475px) {
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 375px) {
}

@media all and (max-width: 350px) {
}

@media all and (min-width: 768px) and (orientation: landscape) {
}
